<h1>Vecinos</h1>
<hr>
<div class="panel panel-default">
  <div class="panel-heading">
    Lista de Familias Vecinas
  </div>
  <div class="panel-body">
    <table class='table'>
      <thead>
        <tr>
          <th>Apellidos</th>
          <th>Telefono</th>
          <th>Miembros</th>
          <th>Ingreso</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @families.each do |family| %>
          <tr>
            <td><%= family.last_name %></td>
            <td><%= family.phone %></td>
            <td><%= family.members_number %></td>
            <td><%= family.entry_date %></td>
            <td><%= link_to 'Ver', family %></td>
            <td><%= link_to 'Editar', edit_family_path(family) %></td>
            <td><%= link_to 'Desalojar', family, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
      <%= link_to '+', new_family_path, class:'btn btn-success btn-circle btn-lg'%>
  </div>

</div>
