<h1>Familia <%= @family.last_name %></h1>
<hr>

<div class="panel panel-default">
  <div class="panel-heading">
    Informacion de la familia
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading"><i class="fa fa-phone fa-lg"></i> Telefono</div>
          <div class="panel-body">
            <%= @family.phone %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-yellow">
          <div class="panel-heading"><i class="fa fa-users fa-lg"></i> Miembros</div>
          <div class="panel-body">
            <%= @family.members_number %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-green">
          <div class="panel-heading"><i class="fa fa-calendar fa-lg"></i> Fecha de ingreso</div>
          <div class="panel-body">
            <%= @family.entry_date %>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="panel panel-red">
          <div class="panel-heading"><i class="fa fa-arrow-right fa-lg"></i> Fecha de salida</div>
          <div class="panel-body">
            <%= @family.departure_date %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%=@family.lot%>
<%= link_to 'Editar', edit_family_path(@family) ,class:'btn btn-default'%>
<%= link_to 'Volver', families_path,class:'btn btn-default' %>
