<div class="row">
      <%= form_for(@lot) do |f| %>
        <% if @lot.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@lot.errors.count, "error") %> prohibited this lot from being saved:</h2>

            <ul>
            <% @lot.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
  <div class="col-md-6">
      <div class="field">
        <%= f.label 'Numero' %><br>
        <div class="form-group input-group">
          <span class="input-group-addon">#</span>
          <%= f.text_field :number, class:'form-control' %>
        </div>
      </div><br>
  </div>
  <div class="col-md-6">
      <div class="field">
        <%= f.label :Superficie %><br>
        <div class="form-group input-group">
            <%= f.text_field :area, class:'form-control' %>
            <span class="input-group-addon">m<sup>2</sup></span>
        </div>
      </div><br>
  </div>
  <div class="row">
    <div class="center">
      <%= f.submit 'Registrar',class:'btn btn-primary'%>
      <%= link_to 'Atras', :back ,class:'btn btn-default'%>
    </div>
  </div>
    <% end %>
  </div>
</div>
