<h1>Lotes</h1>
<hr>
<div class="panel panel-default">
  <div class="panel-heading">
    Lista de Lotes
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th>Numero</th>
          <th>Familia</th>
          <th>Superficie (m<sup>2</sup>)</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @lots.each do |lot| %>
          <tr>
            <td><%= lot.number %></td>
            <td>
              <% if lot.current_family.nil? %>
               "N/D"
              <% else %>
                <%= link_to lot.current_family.last_name, lot.current_family %>
              <% end %>
            </td>
            <td><%= lot.area %></td>
            <td><%= link_to 'Editar', edit_lot_path(lot) %></td>
            <td><%= link_to 'Eliminar', lot, method: :delete, data: { confirm: 'Estas seguro' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="panel-footer">
      <%= link_to '+', new_lot_path, class:'btn btn-success btn-circle btn-lg'%>
  </div>

</div>
